@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
body{
    width: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url(images/m_Cyber-Security-lab_1006-ZF-9537-66107-1-003.jpeg);
    background-size :cover;
    height: 100vh;
}
header img{
    width: 15em;
    height: 15em;
    mix-blend-mode: multiply;
}
.about{
    margin-left: 3em;
    margin-right: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align: middle;
}
.aboutInfo p{
    font-size: 1.5rem;
}
.mascot img{
    width: 40em;
    height: 50em;
}
